@using wellbeing.Models.UI.View.Users
@model UserViewModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>User, here's how you're trending.</p>
</div>
<div class="score-grid">
    <div class="score-container box-shadow">
        <div class="score-container-text">
            <h5>Body</h5>
            <h3>@Model.BodyScore</h3>
            <a href="/analyse">View progress</a>
        </div>
    </div>
    <div class="score-container box-shadow">
        <div class="score-container-text">
            <h5>Mind</h5>
            <h3>@Model.MindScore</h3>
            <a href="/analyse">View progress</a>
        </div>
    </div>
    <div class="score-container box-shadow">
        <div class="score-container-text">
            <h5>Wealth</h5>
            <h3>@Model.WealthScore</h3>
            <a href="/analyse">View progress</a>
        </div>
    </div>
    <div class="score-container box-shadow">
        <div class="score-container-text">
            <h5>Work</h5>
            <h3>@Model.WorkScore</h3>
            <a href="/analyse">View progress</a>
        </div>
    </div>
</div>


@*
@foreach (Question q in Model)
{
    <div class="d-flex question-container">
        @q.QuestionText
        @for(int i = 1; i <= 5;i++)
        {
            <div class="form-check form-check-inline">
                <input class="form-check-input question-input-option" type="radio" name="@q.QuestionId" id="@(i)-@(q.QuestionId)"  value="@i" data-question-id="@q.QuestionId">
                <label class="form-check-label" for="@(i)-@(q.QuestionId)" >@i</label>
            </div>
        }
    </div>
}
*@

@section Scripts
{
    <script src="/js/survey_response.min.js" asp-append-version="true"></script>
}