@using wellbeing.Models.UI.View.Users
@model UserViewModel


@{
    ViewBag.Title = "MyAccount";
}

<h1>My Account</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-4">User ID</div>
    <div class="col-sm-8">@Model.UserId</div>
  </div>
  <div class="row">
    <div class="col-sm-4">First Name</div>
    <div class="col-sm-8">@Model.FirstName</div>
  </div>
  <div class="row">
    <div class="col-sm-4">LastName</div>
    <div class="col-sm-8">@Model.LastName</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Age</div>
    <div class="col-sm-8">@Model.Age</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Email Address</div>
    <div class="col-sm-8">@Model.EmailAddress</div>
  </div>

  <button type="button" class="btn btn-primary">Update Account</button>

</div>